.input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.input-grid input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}
.buttonPagar{
  margin-top: 20px;
}
h3{
  margin: 20px auto;

}