.allnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  width: auto;
}

.barra {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.barra a {
  text-decoration: none;
}

.barra a:hover {
  text-decoration: underline;
}
